:root{
    --first-color: #1abc9c;
    --second-color: #2c3e50;
    --third-color: #3a546d;
}

/* INIZIO HEADER */
header{
    background-color: var(--second-color);
    color: #fff;
    height: 5.625rem;
}
.ms_title_header{
    color: #fff;
    font-weight: 700;
}

.navbar-toggler-icon {
    color: #fff;
}

/* FINE HEADER */

/* INIZIO MAIN */
/* INIZIO Start Bootstrap */
.ms_green{
    background-color: var(--first-color);
    color: #fff;
}
.foto_avatar{
    height: 16.25rem;
}
.ms_linea_star::after{
    content: "___________";
    font-weight: 900;
}
.ms_linea_star::before{
    content: "___________";
    font-weight: 900;
}
/* FINE Start Bootstrap */

/* INIZIO Contact me */
.ms_btn{
    background-color: var(--first-color);
    color: #fff;
}
.ms_btn:hover{
    background-color: #47e3c4;
}
/* FINE Contact me  */

/* FINE MAIN */

/* INIZIO Footer */

/* INIZIO Footer Top */
.bg_color_footer_top{
    background-color: var(--third-color);
    color: #fff;
}
.ms_circle {
    border-radius: 50%;
    color: #fff;
    border: 1px solid white;
    padding: 5px 8px;
  }
  .ms_circle_g {
    border-radius: 50%;
    color: #fff;
    border: 1px solid white;
    padding: 5px 5px;
  }
  .ms_circle_f {
    border-radius: 50%;
    color: #fff;
    border: 1px solid white;
    padding: 5px 10px;
  }
.ms_bootstrap_link{
    color: var(--first-color);
}
/* FINE Footer Top */
/* INIZIO Footer Bottom */
.bg_color_footer_bottom{
    background-color: var(--second-color);
    color: #fff;
}
.fa-copyright{
    font-size: .75rem;
}
/* FINE Footer Bottom */
/* FINE Footer */
