:root{
    --first-color: #1abc9c;
    --second-color: #2c3e50;
    --third-color: #3a546d;
}

/* INIZIO HEADER */
header{
    background-color: var(--second-color);
    color: #fff;
    height: 5.625rem;
}
/* FINE HEADER */

/* INIZIO MAIN */
/* INIZIO Start Bootstrap */
.ms_green{
    background-color: var(--first-color);
    color: #fff;
}
.foto_avatar{
    height: 16.25rem;
}
/* FINE Start Bootstrap */

/* INIZIO Portfolio */

/* FINE Portfolio */

/* FINE MAIN */

/* INIZIO Footer */
.bg_color_footer_top{
    background-color: var(--third-color);
    color: #fff;
}
.bg_color_footer_bottom{
    background-color: var(--second-color);
    color: #fff;
}
/* FINE Footer */


/* RESPONSIVITA'*/

/* TABLET VERSION */
    /* Portfolio */
@media screen and (max-width: 768px) {
    .col-4{
        width: 50%;
    }
  }

/* IPHONE VERSION */
    /* Portfolio */
  @media screen and (max-width: 576px) {
    .col-4{
        width: 100%;
    }
    /* About */
    .sm{
        flex-direction: column;
    }
  }